@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    widows: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
#root{
	height: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input:-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button:-moz-focus-iner {
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

.ant-input-search-button span, .ant-input-clear-icon{
	display: flex;
	aligh-items: center;
	justify-content: center;
}
.ant-input-affix-wrapper {
	height: 32px;
}
.anticon-close-circle{
	padding: 2px 0;
}
.anticon-close-circle svg{
	width: 14px;
	height: 14px;
}

.dialogs::-webkit-scrollbar {
	width: 7px;
	padding: 0 10px 0 0;
}

.dialogs::-webkit-scrollbar-track {
	background-color: rgb(248 250 252);
	border-radius: 100px;
}

.dialogs::-webkit-scrollbar-thumb {
	border: 2px solid rgb(248 250 252);
	background-color: rgb(107 114 128 / .4);
	border-radius: 100px;
	transition: border 0.4s ease;
}
.dialogs::-webkit-scrollbar-thumb:hover{
	border: 0px;
}


.chat-message::-webkit-scrollbar {
	width: 17px;
	padding: 0 10px 0 0;
}

.chat-message::-webkit-scrollbar-track {
	background-color: rgb(248 250 252);
	border-radius: 100px;
}

.chat-message::-webkit-scrollbar-thumb {
	border: 6px solid rgb(248 250 252);
	background-color: rgb(107 114 128 / .4);
	border-radius: 100px;
	transition: border 0.4s ease;
}

.chat-message::-webkit-scrollbar-thumb:hover{
	border: 3px solid rgb(248 250 252);
}

.chat-message-input svg:hover{
	transition: color .2s ease-in-out;
	color: black;
}

.files input{
	z-index:10;
}

.files span{
	z-index: 10;
	position: relative;
}